.where{
    margin-left: 10%;
}

.where p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.locate{
    margin-left: -8%;
    margin-top: 37%;
}